<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-black ">
    <header class="bg-green-700">
      <%= image_tag 'header.png', alt: 'The Pragmatic Book Shelf', width: 200 %>
      <h1>App</h1>
    </header>

    <section class="flex">
      <nav class="bg-green-900 p-6">
        <ul class="text-gray-300 leading-8">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Questions', root_path %></li>
          <li><%= link_to 'News', root_path %></li>
          <li><%= link_to 'Contact', root_path %></li>
        </ul>
      </nav>
      <main class="text-white container mx-auto mt-28 px-5 flex">
        <%= yield %>
      </main>
    </section>
  </body>
</html>
